<div class="page-header">
  <h3>Team #<%= @team.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @team.name %></dd>

      <dt>Photo url</dt>
      <dd><%= @team.photo_url %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/teams" class="btn btn-primary">
        Back
      </a>
      <a href="/teams/<%= @team.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_team/<%= @team.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Team has many players -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Players
      </li>

      <% @team.players.each do |player| %>
        <li class="list-group-item">
          <a href="/players/<%= player.id %>">
            <%= player.team_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/players/<%= player.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/players/<%= player.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_player/<%= player.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_player" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for team_id -->
      <input type="hidden" name="team_id" value="<%= @team.id %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for handicap_index -->
      <div class="form-group">
        <label for="handicap_index" class="control-label">
          Handicap index
        </label>

        <input type="text" id="handicap_index" name="handicap_index" placeholder="Handicap index" class="form-control" value="">
      </div>

      <!-- Label and input for email -->
      <div class="form-group">
        <label for="email" class="control-label">
          Email
        </label>

        <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="">
      </div>

      <!-- Label and input for phone_number -->
      <div class="form-group">
        <label for="phone_number" class="control-label">
          Phone number
        </label>

        <input type="text" id="phone_number" name="phone_number" placeholder="Phone number" class="form-control" value="">
      </div>

      <!-- Label and input for photo_url -->
      <div class="form-group">
        <label for="photo_url" class="control-label">
          Photo url
        </label>

        <input type="text" id="photo_url" name="photo_url" placeholder="Photo url" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Player
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Team has many tee_times -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tee Times
      </li>

      <% @team.tee_times.each do |tee_time| %>
        <li class="list-group-item">
          <a href="/tee_times/<%= tee_time.id %>">
            <%= tee_time.time %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tee_times/<%= tee_time.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tee_times/<%= tee_time.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tee_time/<%= tee_time.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_tee_time" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for time -->
      <div class="form-group">
        <label for="time" class="control-label">
          Time
        </label>

        <input type="text" id="time" name="time" placeholder="Time" class="form-control" value="">
      </div>

      <!-- Label and input for player_id -->
      <div class="form-group">
        <label for="player_id" class="control-label">
          Player
        </label>

        <%= select_tag(:player_id, options_from_collection_for_select(Player.all, :id, :team_id), :class => "form-control") %>
      </div>

      <!-- Label and input for match_id -->
      <div class="form-group">
        <label for="match_id" class="control-label">
          Match
        </label>

        <%= select_tag(:match_id, options_from_collection_for_select(Match.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for team_id -->
      <input type="hidden" name="team_id" value="<%= @team.id %>">

      <button class="btn btn-block btn-success">
        Create Tee Time
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Team has many matches -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Matches
      </li>

      <% @team.matches.each do |match| %>
        <li class="list-group-item">
          <a href="/matches/<%= match.id %>">
            <%= match.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/matches/<%= match.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/matches/<%= match.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_match/<%= match.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
