<!-- Validation failure messages -->
<% if @player.errors.any? %>
  <% @player.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Player</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_player" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for team_id -->
      <div class="form-group">
        <label for="team_id" class="control-label">
          Team
        </label>

        <%= select_tag(:team_id, options_from_collection_for_select(Team.all, :id, :name, @player.team_id), :class => "form-control") %>
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @player.name %>">
      </div>

      <!-- Label and input for handicap_index -->
      <div class="form-group">
        <label for="handicap_index" class="control-label">
          Handicap index
        </label>

        <input type="text" id="handicap_index" name="handicap_index" placeholder="Handicap index" class="form-control" value="<%= @player.handicap_index %>">
      </div>

      <!-- Label and input for email -->
      <div class="form-group">
        <label for="email" class="control-label">
          Email
        </label>

        <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="<%= @player.email %>">
      </div>

      <!-- Label and input for phone_number -->
      <div class="form-group">
        <label for="phone_number" class="control-label">
          Phone number
        </label>

        <input type="text" id="phone_number" name="phone_number" placeholder="Phone number" class="form-control" value="<%= @player.phone_number %>">
      </div>

      <!-- Label and input for photo_url -->
      <div class="form-group">
        <label for="photo_url" class="control-label">
          Photo url
        </label>

        <input type="text" id="photo_url" name="photo_url" placeholder="Photo url" class="form-control" value="<%= @player.photo_url %>">
      </div>

      <button class="btn btn-success">
        Create Player
      </button>
      or
      <a href="/players">Cancel</a>
    </form>
  </div>
</div>
