<div class="page-header">
  <h1>
    Matches
    <a href="/matches/new" class="btn btn-lg btn-success">New Match</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Course</th>
        <th>Date</th>
        <th>Time</th>
        <th>Actions</th>
      </tr>

      <% @matches.each do |match| %>
      <tr>
        <td><%= match.name %></td>
        <td><%= match.course.image_url %></td>
        <td><%= match.date %></td>
        <td><%= match.time %></td>
        <td>
          <a href="/matches/<%= match.id %>" class="btn btn-primary">Show</a>
          <a href="/matches/<%= match.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_match/<%= match.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
