<div class="page-header">
  <h3>Match #<%= @match.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @match.name %></dd>

      <dt>Course</dt>
      <dd>
        <% if @match.course.present? %>
          <a href="/courses/<%= @match.course_id %>">
            <%= @match.course.image_url %>
          </a>
        <% end %>
      </dd>

      <dt>Tee time</dt>
      <dd><%= @match.tee_time %></dd>

      <dt>Winning team</dt>
      <dd>
        <% if @match.winning_team.present? %>
          <a href="/teams/<%= @match.winning_team_id %>">
            <%= @match.winning_team.name %>
          </a>
        <% end %>
      </dd>

      <dt>Home team</dt>
      <dd>
        <% if @match.home_team.present? %>
          <a href="/teams/<%= @match.home_team_id %>">
            <%= @match.home_team.name %>
          </a>
        <% end %>
      </dd>

      <dt>Away team</dt>
      <dd>
        <% if @match.away_team.present? %>
          <a href="/teams/<%= @match.away_team_id %>">
            <%= @match.away_team.name %>
          </a>
        <% end %>
      </dd>

      <dt>Booth player 1</dt>
      <dd>
        <% if @match.booth_player_1.present? %>
          <a href="/users/<%= @match.booth_player_1_id %>">
            <%= @match.booth_player_1.team_id %>
          </a>
        <% end %>
      </dd>

      <dt>Booth player 2</dt>
      <dd>
        <% if @match.booth_player_2.present? %>
          <a href="/users/<%= @match.booth_player_2_id %>">
            <%= @match.booth_player_2.team_id %>
          </a>
        <% end %>
      </dd>

      <dt>Kellogg player 1</dt>
      <dd>
        <% if @match.kellogg_player_1.present? %>
          <a href="/users/<%= @match.kellogg_player_1_id %>">
            <%= @match.kellogg_player_1.team_id %>
          </a>
        <% end %>
      </dd>

      <dt>Kellogg player 2</dt>
      <dd>
        <% if @match.kellogg_player_2.present? %>
          <a href="/users/<%= @match.kellogg_player_2_id %>">
            <%= @match.kellogg_player_2.team_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/matches" class="btn btn-primary">
        Back
      </a>
      <a href="/matches/<%= @match.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_match/<%= @match.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Match has many scores -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Scores
      </li>

      <% @match.scores.each do |score| %>
        <li class="list-group-item">
          <a href="/scores/<%= score.id %>">
            <%= score.score %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/scores/<%= score.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/scores/<%= score.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_score/<%= score.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_score" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for score -->
      <div class="form-group">
        <label for="score" class="control-label">
          Score
        </label>

        <input type="text" id="score" name="score" placeholder="Score" class="form-control" value="">
      </div>

      <!-- Label and input for match_id -->
      <input type="hidden" name="match_id" value="<%= @match.id %>">

      <!-- Label and input for player_id -->
      <div class="form-group">
        <label for="player_id" class="control-label">
          Player
        </label>

        <%= select_tag(:player_id, options_from_collection_for_select(User.all, :id, :team_id), :class => "form-control") %>
      </div>

      <!-- Label and input for hole_id -->
      <div class="form-group">
        <label for="hole_id" class="control-label">
          Hole
        </label>

        <%= select_tag(:hole_id, options_from_collection_for_select(Hole.all, :id, :course_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Score
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
