<!-- Validation failure messages -->
<% if @course.errors.any? %>
  <% @course.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Course</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_course" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="<%= @course.image_url %>">
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @course.name %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @course.address %>">
      </div>

      <!-- Label and input for par -->
      <div class="form-group">
        <label for="par" class="control-label">
          Par
        </label>

        <input type="text" id="par" name="par" placeholder="Par" class="form-control" value="<%= @course.par %>">
      </div>

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="<%= @course.rating %>">
      </div>

      <!-- Label and input for slope -->
      <div class="form-group">
        <label for="slope" class="control-label">
          Slope
        </label>

        <input type="text" id="slope" name="slope" placeholder="Slope" class="form-control" value="<%= @course.slope %>">
      </div>

      <!-- Label and input for yardage -->
      <div class="form-group">
        <label for="yardage" class="control-label">
          Yardage
        </label>

        <input type="text" id="yardage" name="yardage" placeholder="Yardage" class="form-control" value="<%= @course.yardage %>">
      </div>

      <button class="btn btn-success">
        Create Course
      </button>
      or
      <a href="/courses">Cancel</a>
    </form>
  </div>
</div>
