<div class="page-header">
  <h3>Course #<%= @course.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Image url</dt>
      <dd><%= @course.image_url %></dd>

      <dt>Name</dt>
      <dd><%= @course.name %></dd>

      <dt>Address</dt>
      <dd><%= @course.address %></dd>

      <dt>Par</dt>
      <dd><%= @course.par %></dd>

      <dt>Rating</dt>
      <dd><%= @course.rating %></dd>

      <dt>Slope</dt>
      <dd><%= @course.slope %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/courses" class="btn btn-primary">
        Back
      </a>
      <a href="/courses/<%= @course.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_course/<%= @course.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Course has many matches -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Matches
      </li>

      <% @course.matches.each do |match| %>
        <li class="list-group-item">
          <a href="/matches/<%= match.id %>">
            <%= match.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/matches/<%= match.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/matches/<%= match.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_match/<%= match.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_match" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for course_id -->
      <input type="hidden" name="course_id" value="<%= @course.id %>">

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="">
      </div>

      <!-- Label and input for time -->
      <div class="form-group">
        <label for="time" class="control-label">
          Time
        </label>

        <input type="text" id="time" name="time" placeholder="Time" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Match
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
